<%= link_to "<- Back", books_path%>
<h1><%= @book.title%></h1>

<table class="table">
  <tr>
    <th>Created at</th>
    <th>Event</th>
    <th>Data</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.timestamp %></td>
      <td><%= event.class %></td>
      <td><%= event.data %></td>
    </tr>
  <% end %>
<table>